{% extends 'pages/template.html' %}
{% load static %}

{% block content %}
    <h5>{{datec}} {{weekday}}</h5>
    <h6>Para: {{professionaldefault.first_name.split.0}} | {{professionaldefault.nickname}}</h6>
        <hr>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
        <td>
            <form method="get" class="form-inline my-2 my-lg-0 mt-2" action="">
                <select class="form-control mr-3" name="id_professional" id="id_professional" onchange="this.form.submit()">
                    {% for prof in professionals%}
                        {%if prof.id == professionaldefault.id%}
                            <option value={{prof.id}} selected>{{prof.first_name.split.0}} | {{prof.nickname}}</option>
                        {%else%}
                            <option value={{prof.id}}>{{prof.first_name.split.0}} | {{prof.nickname}}</option>
                        {%endif%}
                    {% endfor %}
                </select>
                <input class="form-control mr-sm-2" type="date" aria-label="date" name="date" value={{date}} autofocus>
            </form>
        </td>
        <td>
            <a href="{% url 'create-appointment' %}?appdate={{datec}}&professional={{free.1.professional.id}}&client="
                class="btn btn-success">Encaixe</a>
        </td>
        </table>
    </div>
    <div class="row pt-2 pb-auto">
        {% for item in feriados%}
        <div class="alert alert-danger ml-4" role="alert">
            {{item}}
        </div>
        {% endfor %}
    </div>
    {% for obj in free %}
    {% if obj.payed == 'S' %} 
    <div class="container rounded border border-1 border-dark mb-1 d-block d-md-none" style="background-color:rgb(225, 255, 225)"> 
    {%else%} 
    <div class="container rounded border border-1 border-dark mb-1 d-block d-md-none" style="background-color:rgb(235, 235, 235)"> 
    {%endif%}
        <div class="row justify-content-center align-items-center g-2 mt-1">
            
            <div class="col">

                <div class="row justify-content-center align-items-center g-2 ">

                    <div class="col-2 row rounded border border-1 border-dark justify-content-center align-items-center mt-1 " >
                        <strong>{{obj.apphour}}</strong>
                    </div>

                    <div class="col-6 mt-1">                    
                        {% if obj.pk %}
                        {{obj.client.name.split.0}} {{obj.client.name.split.1}} {{obj.client.name.split.2}}
                        
                        {%else%}
                        <a href="{% url 'create-appointment' %}?appdate={{obj.appdate}}&apphour={{obj.apphour}}&professional={{obj.professional.id}}"
                            class="btn btn-success btn-sm">Inserir</a>
                        {% endif%}
                    </div>
                    <div class="col-4">
                        {% if obj.pk%}
                        {% if obj.payed == 'S' %} 
                            Pago <i class="bi bi-check"></i>
                            {%else%} 
                            Não Pago
                            {%endif%}
                        {% endif %}
                    </div>


                </div>
                <div class="row align-items-center g-2">
                    <div class="col-6"> 
                        {{obj.get_status_display}}
                    </div>
                    <div class="col-6">{{obj.procedure.name}}</div>
                </div>
                <div class="row justify-content-center align-items-center g-2 mb-1">
                    <div class="col-12">
                        {% if obj.pk %}
                        <a href="{% url 'edit-appointment' obj.pk %}" class="btn btn-warning btn-sm"><i
                                class="bi bi-pencil"></i></i></a>
    
                        {% if obj.status == '0'%}
                        <a href="?idappointment={{obj.pk}}&newstatus=1&date={{date}}"
                            class="btn btn-info btn-sm">Confirmar</a>
                        <a href="?idappointment={{obj.pk}}&newstatus=6&date={{date}}"
                            class="btn btn-warning btn-sm">Cancelar</a>
                        {%endif%}
                        {% if obj.status == '1'%}
                        <a href="?idappointment={{obj.pk}}&newstatus=4&date={{date}}&payedstatus=S"
                            class="btn btn-info btn-sm">Atendido e Pago</a>
                        <a href="?idappointment={{obj.pk}}&newstatus=5&date={{date}}"
                            class="btn btn-warning btn-sm">Faltou</a>
                        {%endif%}
    
                        {%if obj.status != '4'%}
                        <a href="{% url 'delete-appointment' obj.pk %}" class="btn btn-danger btn-sm"><i
                                class="bi bi-trash"></i></a>
                        {% endif%}
    
                        {%else%}
                        {% endif%}
                    </div>

                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="table-responsive d-none d-md-block">
        <table class="table table-striped table-sm">
            <tr>
                <th>Hora</th>
                <th>Cliente</th>
                <th>Whats</th>
                <th>Status</th>
                <th>Procedimento</th>
                <th>Valor</th>
                <th>Pago</th>
                <th>Opções</th>
            </tr>

            {% for obj in free %}
            <tr>
                <td>{{obj.apphour}}</td>

                <td title="{{obj.client.name}}">
                    {% if obj.pk %}
                    {{obj.client.name.split.0}} {{obj.client.name.split.1}} 
                    
                    {%else%}

                    <a href="{% url 'create-appointment' %}?appdate={{obj.appdate}}&apphour={{obj.apphour}}&professional={{obj.professional.id}}"
                        class="btn btn-success btn-sm">Inserir</a>
                    {% endif%}
                </td>
                <td>
                    {%if obj.client.tel|length == 11 %}
                    <a href="https://api.whatsapp.com/send?phone=55{{obj.client.tel}}&text=Olá temos um Agendamento dia {{obj.appdate}} as {{obj.apphour}} com {{obj.professional.first_name}} Podemos confirmar?"
                        target="_blank">
                        Enviar</a>
                    {%else%}
                    
                    {%endif%}

                </td>
                <td>{{obj.get_status_display}}</td>
                <td>{{obj.procedure.name}}</td>
                <td>{% if obj.total %} 
                    {{obj.total}} 
                    {%else%} 
                    {%endif%}
                </td>
                <td>
                    {% if obj.pk %}
                    {{obj.get_payed_display}}
                    {%else%}
                    {%endif%}

                </td>

                <td>
                    {% if obj.pk %}
                    <a href="{% url 'edit-appointment' obj.pk %}" class="btn btn-warning btn-sm"><i
                            class="bi bi-pencil"></i></i></a>

                    {% if obj.status == '0'%}
                    <a href="?idappointment={{obj.pk}}&newstatus=1&date={{date}}"
                        class="btn btn-info btn-sm">Confirmar</a>
                    <a href="?idappointment={{obj.pk}}&newstatus=6&date={{date}}"
                        class="btn btn-warning btn-sm">Cancelar</a>
                    {%endif%}
                    {% if obj.status == '1'%}
                    <a href="?idappointment={{obj.pk}}&newstatus=4&date={{date}}&payedstatus=S"
                        class="btn btn-info btn-sm">Atendido e Pago</a>
                    <a href="?idappointment={{obj.pk}}&newstatus=5&date={{date}}"
                        class="btn btn-warning btn-sm">Faltou</a>
                    {%endif%}

                    {%if obj.status != '4'%}
                    <a href="{% url 'delete-appointment' obj.pk %}" class="btn btn-danger btn-sm"><i
                            class="bi bi-trash"></i></a>
                    {% endif%}

                    {%else%}
                    {% endif%}
                </td>

            </tr>
            {% empty %}
            <tr>
                <td colspan="3">
                    Olá, você não possuí cadastro de <a href="{% url 'list-schedule' %}">HORÁRIOS</a> adicione para
                    completar sua agenda
                </td>
            </tr>
            {% endfor %}

        </table>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $('input[type=date]').change(function () {
            this.form.submit();
        });

        $('input[type=date]').keypress(function (e) {
            $(this).off('change blur');

            $(this).blur(function () {
                this.form.submit();
            });

            if (e.keyCode === 13) {
                this.form.submit();
            }
        });
    </script>
{% endblock %}