{% extends 'pages/template.html' %}
{% load static %}

{% block content %}

<h3>Agendamentos</h3>
<hr>
<div class="row ml-auto">
    <div class="col-sm">
        <form method="get" class="form-inline my-2 my-lg-0 mt-2" action="">
            <input class="form-control mr-sm-2" type="search" placeholder="Busca" aria-label="Search" id="search"
                name="search" autofocus>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Procurar</button>
        </form>
    </div>
    <div class="col-sm">
        <a href="{% url 'create-appointment' %}" class="btn btn-success">Inserir</a>
    </div>
</div>
<hr>
<div class="table-responsive">
    <table class="table table-striped  table-sm">
        <tr>
            <th>Data</th>
            <th>Horário</th>
            <th>Cliente</th>
            <th>Profissional</th>
            <th>Status</th>
            <th>Procedimento</th>
            <th>Pago</th>
            <th>Total</th>
            <th>Opções</th>
        </tr>

        {% for obj in object_list %}
        <tr>
            <td>{{obj.appdate}}</td>
            <td>{{obj.apphour}}</td>
            <td>{{obj.client.name}}</td>
            <td>{{obj.professional.first_name.split.0}}</td>
            <td>{{obj.get_status_display}}</td>
            <td>{{obj.procedure}}</td>
            <td>{{obj.get_payed_display}}</td>
            <td>{{obj.total}}</td>

            <td>
                <a href="{% url 'edit-appointment' obj.pk %}" class="btn btn-warning btn-sm">Editar</a>
                <a href="{% url 'delete-appointment' obj.pk %}" class="btn btn-danger btn-sm">Excluir</a>
            </td>

        </tr>

        {% empty %}
        <tr>
            <td colspan="3">
                Nenhum Registro encontrado
            </td>
        </tr>
        {% endfor %}

    </table>
</div>

{% endblock %}

{% block scripts%}
<script>

</script>
{% endblock %}