{% extends 'pages/template.html' %}
{% load static %}

{% block content %}

<h3>Procedimentos</h3>
<a href="{% url 'create-dayoff' %}" class="btn btn-success">Inserir</a>
<hr>
<div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <th>Profissional</th>
            <th>Data</th>
            <th>Motivo</th>
            <th>Ativo</th>
            <th>Opções</th>
        </tr>

        {% for obj in object_list %}
        <tr>
            <td>{{obj.professional}}</td>
            <td>{{obj.daydate}}</td>
            <td>{{obj.reason}}</td>
            <td>{{obj.active}}</td>

            <td>
                <a href="{% url 'edit-dayoff' obj.pk %}" class="btn btn-warning btn-sm">Editar</a>
                <a href="{% url 'delete-dayoff' obj.pk %}" class="btn btn-danger btn-sm">Excluir</a>
            </td>

        </tr>

        {% empty %}
        <tr>
            <td colspan="3">
                Nenhum Registro encontrado
            </td>
        </tr>
        {% endfor %}

    </table>
</div>

{% endblock %}