{% extends 'pages/template.html' %}
{% load static %}

{% block content %}

<h3>Agendamentos {{datec}}</h3>
<hr>
<div class="row ml-auto">
    <div class="col-sm">
        <form method="get" class="form-inline my-2 my-lg-0 mt-2" action="">
            <input class="form-control mr-sm-2" type="date" aria-label="date" name="date" value={{date}} autofocus>
            <button class="btn btn-outline-success my-2 my-sm-0 btn-sm" type="submit">Procurar </button>
        </form>
    </div>
    <!-- <div class="col-sm">
        <form method="get" class="form-inline my-2 my-lg-0 mt-2" action="">
            <button class="btn btn-outline-success my-2 my-sm-0 btn-sm" value="2022-01-01" name="date" type="submit">Procurar </button>
        </form>
    </div> -->
    <div class="col-sm px-2">
        <a href="{% url 'create-appointment' %}" class="btn btn-success">Encaixe</a>
    </div>
</div>
<div class="row pt-2 pb-auto">
    {% for item in feriados%}
    <div class="alert alert-danger ml-4" role="alert">
        {{item}}
    </div>
    {% endfor %}
</div>
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <tr>
            <th>Horário</th>
            <th>Cliente</th>
            <th>Whats</th>
            <th>Status</th>
            <th>Procedimento</th>
            <th>Pago</th>
            <th>Opções</th>
        </tr>

        {% for obj in free %}
        <tr>
            {%if obj.status != '4'%}
            <td>{{obj.apphour}}</td>

            <td>
                {% if obj.pk %}
                {{obj.client.first_name}}
                {%else%}
                <form method="get" class="form-inline my-2 my-lg-0 mt-2" action="{% url 'create-appointment' %}">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="search"
                        name="search" autofocus>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
                <!--<a href="{% url 'create-appointment' %}" data={{date}} class="btn btn-success btn-sm">Inserir</a>-->
                {% endif%}
            </td>
            <td><a href="https://api.whatsapp.com/send?phone=55{{obj.client.tel}}&text=Olá temos um Agendamento dia {{obj.appdate}} as {{obj.apphour}} com {{obj.professional.first_name}}"
                    target="_blank">
                    {{obj.client.tel}}</a>
            </td>
            <td>{{obj.get_status_display}}</td>
            <td>{{obj.procedure}}</td>

            <td>{{obj.get_payed_display}}</td>

            <td>
                {% if obj.pk %}
                <a href="{% url 'edit-appointment' obj.pk %}" class="btn btn-warning btn-sm">Editar</a>
                <a href="{% url 'delete-appointment' obj.pk %}" class="btn btn-danger btn-sm">Excluir</a>
                {%else%}
                {% endif%}
            </td>

        </tr>
        {%endif%}
        {% empty %}
        <tr>
            <td colspan="3">
                Olá, você não possuí cadastro de <a href="{% url 'list-schedule' %}">HORÁRIOS</a> adicione para
                completar sua agenda
            </td>
        </tr>
        {% endfor %}

    </table>
</div>
{% endblock %}