{% extends 'pages/template.html' %}
{% load static %}

{% block content %}

<h3>Horários de Trabalho</h3>
<hr>
<div class="row ml-auto">
    <div class="col-sm">
        <form method="get" class="form-inline my-2 my-lg-0 mt-2" action="">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="search"
                name="search" autofocus>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
    <div class="col-sm">
        <a href="{% url 'create-schedule' %}" class="btn btn-success">Inserir</a>
    </div>
</div>
<hr>
<div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <th>Profissional</th>
            <th>Inicio</th>
            <th>Final</th>
            <th>Intervalo</th>
            <th>Dia da Semana</th>
            <th>Ativo</th>
            <th>Opções</th>
        </tr>

        {% for obj in object_list %}
        <tr>
            <td>{{obj.professional}}</td>
            <td>{{obj.begin}}</td>
            <td>{{obj.end}}</td>
            <td>{{obj.interval}}</td>
            <td>{{obj.get_weekday_display}}</td>
            <td>{{obj.active}}</td>


            <td>
                <a href="{% url 'edit-schedule' obj.pk %}" class="btn btn-warning btn-sm">Editar</a>
                <a href="{% url 'delete-schedule' obj.pk %}" class="btn btn-danger btn-sm">Excluir</a>
            </td>

        </tr>

        {% empty %}
        <tr>
            <td colspan="3">
                Nenhum Registro encontrado
            </td>
        </tr>
        {% endfor %}

    </table>
</div>
{% endblock %}