<!doctype html>
<html lang="pt-br">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    

    {% block title %}
    <title>NkjTec Sistemas</title>
    {% endblock %}
</head>

<body class="bg-light">
    <div class="bg-light container-fluid">
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3  fixed-top sm container-fluid p-1">
            <a class="navbar-brand" href="/">Nkj Tec</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'myschedule' %}">Minha Agenda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'allschedules' %}">Todas as Agendas</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Cadastros
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'list-client' %}">Clientes</a>
                            <a class="dropdown-item" href="{% url 'list-user' %}">Profissionais</a>
                            <a class="dropdown-item" href="{% url 'list-procedure' %}">Procedimento</a>
                            <a class="dropdown-item" href="{% url 'list-schedule' %}">Horário de Trabalho</a>
                            <a class="dropdown-item" href="{% url 'list-dayoff' %}">Feriados</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'list-appointment' %}">Agendamento</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'list-client' %}">Clientes</a>
                    </li>
                    {%else%}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Cadastros
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'index' %}">Cadastro de Profissional Solo</a>
                            <a class="dropdown-item" href="{% url 'index' %}">Cadastro de Empresa</a>
                            <a class="dropdown-item" href="geo:0,0?q=dr dimas barros 300 londrina">link para endereço</a>

                        </div>
                    </li>

                    {% endif %}
                </ul>
                <div class="ml-auto">
                    {% if request.user.is_authenticated %}
                    <a class="btn btn-outline-light btn-sm" href="{% url 'edit-user' request.user.id %}">Perfil {{request.user.first_name.split.0}}</a>
                    <a class="btn btn-outline-light btn-sm" href="{% url 'logout'%}">Sair</a>
                    {% else %}
                    <a class="btn btn-outline-light btn-sm" href="{% url 'login'%}">Entrar</a>
                    {% endif %}
                </div>

            </div>
        </nav>
        <hr>
        <hr>
        {% block loginform %}
        {% endblock loginform %}

        {% block content%}

        
        {% endblock %}

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
        <script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>
        
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

        {% block scripts%}
        {% endblock %}
    </div>
</body>

</html>