{% extends 'pages/template.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}
<title>Cadastro</title>
{% endblock %}

{% block content %}

<div class="container">

    <h3>Cadastro</h3>
    <p class="lead"> Preencha todos os campos {{request.get.get.id_appdate}}</p>
    <hr>
    <form action="" method="post">{% csrf_token %}
        <input id="my_checkbox" type="checkbox" text='' name="my_checkbox" />
        <label class="form-check-label" for="my_checkbox">Novo Cliente</label>


        <div id="div_newclient" class="control-group" style="display: none">
            <label for="id_newclient" class="control-label">Nome - Novo Cliente**</label>
            <div class="controls">
                <input type="text" name="id_newclient" class="textinput textInput" id="id_newclient">
            </div>
            <label class="control-label" for="id_tel">Telefone - Novo Cliente**</label>
            <div class="controls">
                <input type="text" name="id_tel" class="textinput textInput" id="id_tel">
            </div>
            <p>
        </div>


        {{ form|crispy }}
        <hr>
        <button type="submit" id="btn_submit" class="btn btn-primary">SALVAR</button>

    </form>
</div>

{% endblock %}


{% block scripts %}
<script src="{% static 'js/jquery.mask.min.js' %}"></script>

<script>



    $(document).ready(function () {


        $('#id_client').select2({
            placeholder: "Escolha um Cliente."
        });

        if ($("#id_appdate").prop('value') != "") {
            $("#id_appdate").prop("disabled", true);


        }
        if ($("#id_apphour").prop('value') != "") {
            $("#id_apphour").prop("disabled", true);


        }
        if ($("#id_professional").prop('value') != "") {
            $("#id_professional").prop("disabled", true);

        }

        if ($("#id_client").prop('value') != "") {
            $("#id_client").prop("disabled", true);

        }

        $("#id_appdate").mask("00/00/0000");
        $("#id_apphour").mask("00:00");
        $("#id_tel").mask("00000000000");
        $("#id_tel").prop("placeholder", "exemplo 43999999999");


        $('#my_checkbox').prop("checked", false);

        $('#my_checkbox').click(function () {
            if ($(this).is(':checked')) {
                $("#div_id_client").hide()
                $("#div_newclient").css("display", "block")
                $("#id_newclient").attr("required", true);
                $("#id_tel").attr("required", true);
                $("#id_client").attr("required", false);
            } else {
                $("#div_id_client").show()
                $("#div_newclient").css("display", "none")
                $("#id_newclient").attr("required", false);
                $("#id_tel").attr("required", false);
                $("#id_client").attr("required", true);
            }
        });


        botao = document.getElementById("btn_submit");
        botao.onclick = function () {
            if ($("#id_client").prop('value') != "" && $("#id_procedure").prop('value') != "" && $('#my_checkbox').prop('checked') == false) {
                $("#id_professional").prop("disabled", false);
                $("#id_apphour").prop("disabled", false);
                $("#id_appdate").prop("disabled", false);
                $("#id_client").prop("disabled", false);
            }

            if ($("#id_procedure").prop('value') != "" && $('#my_checkbox').prop('checked') == true) {
                $("#id_professional").prop("disabled", false);
                $("#id_apphour").prop("disabled", false);
                $("#id_appdate").prop("disabled", false);
                $("#id_client").prop("disabled", false);
                $("#id_client").prop("value", 1);
            }
        };

    });
</script>


{% endblock %}