{% extends 'pages/template.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}
<title>Cadastro</title>
{% endblock %}

{% block content %}

<div class="container">

    <h3>Reset de Senha</h3>
    <p class="lead"> Lembre-se da sua nova senha.</p>
    <hr>
    <form action="{% url 'passchange' %}" method="post">{% csrf_token %}
        {{ form|crispy }}
        <label for="username">Nova Senha</label><br>
        <input type="hidden" id="id_target" name="target" value={{target}} >
        <input type="text" id="id_password" name="password" value="" autofocus><br><br>
        <hr>
        <button type="submit" id="btn_submit" class="btn btn-primary">SALVAR</button>

    </form>
</div>

{% endblock %}


{% block scripts %}
<script src="{% static 'js/jquery.mask.min.js' %}"></script>

<script>
    $(document).ready(function () {
        $("#id_created_at").prop("disabled", true);
        $("#id_created_by").prop("disabled", true);

        $("#id_appdate").mask("00/00/0000");
        $("#id_birth").mask("00/00/0000");
        $("#id_daydate").mask("00/00/0000");
        $("#id_apphour").mask("00:00");
        $("#id_username").mask("000.000.000-00");
        $("#id_cpf").mask("000.000.000-00");
        $("#id_begin").mask("00:00");
        $("#id_end").mask("00:00");
        $("#id_interval").mask("009");
        $("#id_price").mask("00.00");
        $("#id_tel").mask("00000000000");
        $("#id_nickname").mask("AAAAAAAAAAAAAAAAAAAA");

        $("#id_username").prop("placeholder", "000.000.000-00");
        $("#id_begin").prop("placeholder", "exemplo 08:00");
        $("#id_end").prop("placeholder", "exemplo 18:00");
        $("#id_tel").prop("placeholder", "exemplo 43999999999");
        $("#id_interval").prop("placeholder", "exemplo 30");
        $("#id_price").prop("placeholder", "exemplo 30,00");
        document.getElementById("hint_id_username").textContent = "Informe o CPF";

    });







</script>


{% endblock %}