{% extends 'pages/template.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}
<title>Cliente</title>
{% endblock %}

{% block content %}

<div class="container">
    <h3>Cliente</h3>
    <hr>
</div>

<div class='container'>
    <div class='row'>
        <div class='col'>

            <form action="" method="post">{% csrf_token %}
                <button type="submit" id="btn_submit" class="btn btn-primary">SALVAR</button>
                <hr>
                {{ form|crispy }}
            </form>
        </div>
        <div class='col'>
            <h4>Agendamentos do Cliente</h4>
            <table class="table table-striped table-sm">
                <tr>
                    <th>Data</th>
                    <th>Procedimento</th>
                    <th>Status</th>
                    <th>Total</th>
                    <th>Pago</th>
                </tr>
                {% for app in appointments%}
                <tr>
                    <td>{{app.appdate}}</td>
                    <td>{{app.procedure.name}}</td>
                    <td>{{app.get_status_display}}</td>
                    <td>{{app.total}}</td>
                    <td>{{app.get_payed_display}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
</div>


{% endblock %}


{% block scripts %}
<script src="{% static 'js/jquery.mask.min.js' %}"></script>

<script>
    $(document).ready(function () {
        $("#id_created_at").prop("disabled", true);
        $("#id_created_by").prop("disabled", true);
        $("#id_appdate").mask("00/00/0000");
        $("#id_birth").mask("00/00/0000");
        $("#id_daydate").mask("00/00/0000");
        $("#id_apphour").mask("00:00");
        $("#id_username").mask("000.000.000-00");
        $("#id_cpf").mask("000.000.000-00");
        $("#id_begin").mask("00:00");
        $("#id_end").mask("00:00");
        $("#id_interval").mask("009");
        $("#id_price").mask("00.00");
        $("#id_tel").mask("00000000000");
        $("#id_nickname").mask("AAAAAAAAAAAAAAAAAAAA");

        $("label").css("margin-top", "12px");
        $("#id_username").prop("placeholder", "000.000.000-00");
        $("#id_begin").prop("placeholder", "exemplo 08:00");
        $("#id_end").prop("placeholder", "exemplo 18:00");
        $("#id_tel").prop("placeholder", "exemplo 43999999999");
        $("#id_interval").prop("placeholder", "exemplo 30");
        $("#id_price").prop("placeholder", "exemplo 30,00");
        document.getElementById("hint_id_username").textContent = "Informe o CPF";

    });

</script>


{% endblock %}